@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "slider";

// body{
//   background-image: url(../images/1.jpg);
// }
.title {
  @extend %title-font;
  color: $black;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 56px;
}

.header {
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__top {
    background: rgb(227 125 49 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px 0 10px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  }
  &__content {
    text-align: center;
  }
  // &__biglogo-img {
  //   margin: 0 auto;
  //   align-items: center;
  //   margin-bottom: 115px;
  // }

  &__title {
    @extend %title-font;
    color: $black;
    font-size: 56px;
    line-height: 46px;
    font-weight: 500;
    // min-width: 460px;
    // max-width: 570px;
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
  }
  &__btn {
    display: inline-block;
    @extend %text-font;
    width: 46px;
    height: 37px;
    background: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
    margin-left: 15px;
    &.active {
      background-color: $white;
    }
    &:hover {
      background-color: #fffbfa;
      color: $default;
      opacity: 0.89;
    }
  }
  &__img {
    max-width: 700px;
    // min-height: 600px;
    // min-width: 280px;
    // background-position: 50%;
    // background-repeat: no-repeat;
    // background-size: contain;
    // z-index: -2;
  }
}

.menu {
  // flex: 0 1 auto;
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    margin: 0 auto;
    margin-right: 100px;
    padding: 16px 0 16px;
  }

  &__link {
    @extend %text-font;
    color: $white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      color: #e1c795;
    }
  }

  &__title {
    margin-right: 315px;
    @extend %title-font;
    color: $default;
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  // &__img {
  //   margin-right: 42px;
  //   width: 148px;
  //   height: 148px;
  // }
}

.about {
  background-color: $gray-dark;
  position: relative;
  margin-bottom: 116px;
  &__content {
    display: flex;
    justify-content: start;
    gap: 172px;
    padding: 70px 0px 94px;
    position: relative;
  }
  &__items {
    width: 525px;
  }
  &__title {
    text-align: left;
    color: $white;
    width: 450px;
    margin-bottom: 24px;
  }
  &__text {
    text-align: left;
    width: 460px;
    color: $white;
    @extend %text-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  span {
    font-weight: 700;
  }
  .about__title + p {
    margin-bottom: 35px;
  }
  .about__img-wrapper {
    &::before,
    &::after {
      content: " ";
      position: absolute;
      width: 6px;
      height: 100px;
      background: #f78383;
      border-radius: 10px;
      transform: rotate(34.69deg);
      z-index: 1;
      right: 44%;
      top: 100px;
    }
    &::after {
      top: 72px;
    }
    &::before {
      top: 45px;
    }
  }
  .bottom {
    &::before,
    &::after {
      right: 1%;
    }

    &::after {
      top: 527px;
    }
    &::before {
      top: 500px;
    }
  }
}

.vip {
  padding-bottom: 126px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    // margin-bottom: 86px;
  }
  &__item {
    position: relative;
    &-title {
      @extend %text-font-semibold;
      color: $white;
      filter: drop-shadow(10px 12px 18px rgba(0, 0, 0, 0.25));
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      position: absolute;
      left: 22px;
      bottom: 22px;
    }
  }
  img {
    border-radius: 5%;
  }
}

.gallery {
  padding-bottom: 126px;
  &__slider {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    img {
      margin: 0 auto;
      min-width: 800px;
    }
  }
}

.clients {
  background-color: $green;
  padding-bottom: 126px;
  &__title {
    color: $black;
    padding-top: 86px;
  }
  &__slider {
    max-width: 752px;
    height: 284px;
    border-radius: 20px;
    background-color: $gray-dark;
    display: flex !important;
    border-radius: 20px;
    margin: 0 auto;
    &-info {
      margin: 0 auto;
      max-width: 616px;
      position: relative;
    }
    &-title {
      @extend %text-font;
      color: $white;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      margin-top: 48px;
      margin-bottom: 12px;
    }
    &-text {
      @extend %text-font;
      color: $white;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.footer {
  padding: 48px 0 16px;
  background-color: $gray-dark;
  &__contact {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    margin-bottom: 60px;
  }
  &__title {
    color: $white;
    @extend %text-font-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  &__text {
    @extend %text-font;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .menu {
    &__item {
      margin-bottom: 20px;
    }
    &__link {
      @extend %text-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
    }
  }
  &__social {
    display: flex;
    gap: 16px;
    position: relative;
    right: 6px;
  }
  &__social-item {
    width: 48px;
    height: 48px;
  }

  &__bot {
    color: $white;
    @extend %text-font;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 10px;
  }
  // &__creater {
  //   @extend %text-font;
  //   color: $white;
  //   font-size: 13px;
  //   display: flex;
  //   justify-content: center;
  // }

  // &-creater__link {
  //   text-decoration: underline;
  //   color: rgb(131, 125, 127);
  // }
}
